<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <mat-card>
            <!-- <div class="header">
          <h2 ><b>{{projectName}} -> Project Information</b></h2>
          <ul class="header-dropdown m-r--5">
            <li>
              <button
                mat-icon-button
                [matMenuTriggerFor]="headerMenu"
                class="header-dropdown-mat-icon-button"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #headerMenu="matMenu">
                <button mat-menu-item (click)="refresh()">
                  <mat-icon>refresh</mat-icon>
                  <span>Refresh</span>
                </button>
              </mat-menu>
            </li>
          </ul>
        </div> -->
            <mat-tab-group dynamicHeight>
                <mat-tab label="{{projectName}} -> Project Information ">
                    <div class="body table">

                        <div class="row clearfix" [@routerTransition] id="DataDiv">
                            <br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                                <div class="body" style="margin-left: 1em;">
                                    <form class="form-horizontal" #updateProjectInfoForm="ngForm" (ngSubmit)="save()">

                                        <h5>Command Area</h5>

                                        <div class="example-container">
                                            <div class="row col-xs-12">
                                                <div class="col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>GCA</mat-label>
                                                        <input matInput placeholder="GCA" type="number" min="0" name="projectInformation.commandarea_gca" [(ngModel)]="projectInformation.commandarea_gca" required>
                                                        <mat-hint align="end">ha</mat-hint>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>NCA</mat-label>
                                                        <input matInput placeholder="GCA" type="number" min="0" name="projectInformation.commandarea_nca" [(ngModel)]="projectInformation.commandarea_nca" required>
                                                        <mat-hint align="end">ha</mat-hint>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-select [required]="projectInformation.programInformationId!=0"
                              name="projectInformation.programInformationId" id="projectInformation.programInformationId"
                              [(ngModel)]="projectInformation.programInformationId">
                              <mat-option *ngFor="let program of programInformation" [value]="program.id">{{ program.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div> -->
                                            <!-- <div class="col-md-1">
                          <mat-label class="" for="programTypeId">
                            <h5>Type:</h5>
                          </mat-label>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field appearance="outline">
                            <mat-select [required]="projectInformation.programTypeId!=0" name="projectInformation.programTypeId"
                              id="projectInformation.programTypeId" [(ngModel)]="projectInformation.programTypeId">
                              <mat-option *ngFor="let program of programTypes" [value]="program.id">{{ program.name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div> -->
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <br>


                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <mat-label for="projectInformation.mgmt_system">
                                                    <h5> Management System </h5>
                                                </mat-label>
                                            </div>

                                            <div class="row" style="margin-left: 1px">
                                                <mat-radio-group required class="radio-btn-wrapper" id="projectInformation.mgmt_system" name="projectInformation.mgmt_system" [(ngModel)]="projectInformation.mgmt_system">
                                                    <div class="col-md-2">
                                                        <mat-radio-button value="FMIS" name="rdr1">
                                                            FMIS
                                                        </mat-radio-button>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <mat-radio-button value="AMIS" name="rdr2">
                                                            AMIS
                                                        </mat-radio-button>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <mat-radio-button value="JMIS" name="rdr3">
                                                            JMIS
                                                        </mat-radio-button>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <mat-radio-button value="Other" name="rdr4">
                                                            Other
                                                        </mat-radio-button>
                                                    </div>
                                                </mat-radio-group>

                                                <div class="col-md-3" *ngIf="projectInformation.mgmt_system == 'Other'">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Others</mat-label>
                                                        <input matInput type="text" autocomplete="off" name="projectInformation.mgmt_system_other" id="projectInformation.mgmt_system_other" [required]="projectInformation.mgmt_system == 'Other'" [(ngModel)]="projectInformation.mgmt_system_other">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                        <div class="form-group row">
                                            <!-- <div class="col-md-1">
                                  <mat-label  for="projectInformation.programInformationId"><h5>Program:</h5></mat-label>
                                </div> -->
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label for="projectInformation.programInformationId">Program</mat-label>

                                                    <mat-select [required]="projectInformation.programInformationId!=0" name="projectInformation.programInformationId" id="projectInformation.programInformationId" [(ngModel)]="projectInformation.programInformationId">
                                                        <mat-option *ngFor="let program of programInformation" [value]="program.id">
                                                            {{ program.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <!-- <div class="col-md-1">
                                    <mat-label class="" for="programTypeId"><h5>Type:</h5></mat-label>
                                  </div> -->
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label for="programTypeId">Type</mat-label>
                                                    <mat-select [required]="projectInformation.programTypeId!=0" name="projectInformation.programTypeId" id="projectInformation.programTypeId" [(ngModel)]="projectInformation.programTypeId">
                                                        <mat-option *ngFor="let program of programTypes" [value]="program.id">{{ program.name }}
                                                        </mat-option>
                                                        <!-- <mat-option [value]="National Pride Projects">National Pride Projects</mat-option>
                            <mat-option [value]="Donor Funded Projects">Donor Funded Projects</mat-option>
                            <mat-option [value]="Large Irrigation Projects">Large Irrigation Projects</mat-option>
                            <mat-option [value]="Irrigation Management Projects">Irrigation Management Projects</mat-option>
                            <mat-option [value]="Water Induced Disaster Management Projects">Water Induced Disaster Management Projects</mat-option>
                            <mat-option [value]="Groundwater Irrigation Projects">Groundwater Irrigation Projects</mat-option>
                            <mat-option [value]="Landslide Management Projects">Landslide Management Projects</mat-option>
                            <mat-option [value]="Basin Management Projects">Basin Management Projects</mat-option>
                            <mat-option [value]="Other Projects and Programs">Other Projects and Programs</mat-option> -->
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <!-- <div class="col-md-2">
                                      <button mat-raised-button color="primary" (click)="openDialog()">Add/Edit Program</button>
                                  </div> -->
                                        </div>

                                        <div class="form-group row">
                                            <div style="margin-left: 1em">
                                                <mat-label for="projectInformation.project_type">
                                                    <h5> Project Type </h5>
                                                </mat-label>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-radio-group id="projectInformation.project_type" name="projectInformation.project_type" [(ngModel)]="projectInformation.project_type">
                                                        <div class="col-xs-2">
                                                            <mat-radio-button value="New">
                                                                New
                                                            </mat-radio-button>
                                                        </div>
                                                        <div class="col-xs-2">
                                                            <mat-radio-button value="Rehabilation">
                                                                Rehabilitaion
                                                            </mat-radio-button>
                                                        </div>
                                                    </mat-radio-group>
                                                </div>
                                                <div class="col-md-6" *ngIf="projectInformation.programTypeId == 2">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label for="projectInformation.DonarCountriesName">Donar Countries</mat-label>
                                                        <mat-select name="DonarCountrie" [required]="projectInformation.programTypeId == 2" [(ngModel)]="projectInformation.donarCountriesName">
                                                            <mat-option value="World Bank">World Bank</mat-option>
                                                            <mat-option value="Asian Development Bank">Asian Development Bank</mat-option>
                                                            <mat-option value="Kuwait Fund">Kuwait Fund</mat-option>
                                                            <mat-option value="OPEC (Organization of Petroleum Export Country)">OPEC (Organization of Petroleum Export Country )</mat-option>
                                                            <mat-option value="Saudi">Saudi</mat-option>
                                                            <mat-option value="JICA">JICA</mat-option>
                                                            <mat-option value="Others">Others</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group row">
                                            <!-- <div class="col-md-2">
                                    <mat-label  for="projectInformation.projectStatusId"><h5>Project Status: </h5></mat-label>
                                  </div> -->
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label for="projectInformation.projectStatusId">Project Status</mat-label>
                                                    <mat-select name="projectInformation.projectStatusId" id="projectInformation.projectStatusId" [(ngModel)]="projectInformation.projectStatusId">
                                                        <mat-option *ngFor="let program of projectStatus" [value]="program.id">{{ program.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6" *ngIf="projectInformation.donarCountriesName == 'Others'">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Donar Countries Others</mat-label>
                                                    <input matInput placeholder="Donar Countries Others" type="text" name="projectInformation.donarCountriesOthersName" [(ngModel)]="projectInformation.donarCountriesOthersName" [required]="projectInformation.donarCountriesName == 'Others'">
                                                </mat-form-field>
                                            </div>
                                        </div>


                                        <div class="form-group row" id="1">
                                            <!-- <div class="col-md-2">
                                      <mat-label class="" for="projectInformation.project_comment"><h5>Project Comment:</h5></mat-label>
                                    </div> -->
                                            <div class="col-xs-12" id="12">
                                                <mat-form-field appearance="outline">
                                                    <mat-label class="" for="projectInformation.project_comment">Project Comment</mat-label>
                                                    <textarea matInput placeholder="Project Comment" id="projectInformation.project_comment" name="project_comment" [(ngModel)]="projectInformation.project_comment" required> </textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                <mat-label for="projectInformation.isPhaseCompleted">
                                                    <h5>Phase Of Project</h5>
                                                </mat-label>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <mat-radio-group id="projectInformation.isPhaseCompleted" name="projectInformation.isPhaseCompleted" [(ngModel)]="projectInformation.isPhaseCompleted">
                                                <div class="col-md-2">
                                                    <mat-radio-button [value]="false">
                                                        On-Going
                                                    </mat-radio-button>
                                                </div>
                                                <div class="col-md-2">
                                                    <mat-radio-button [value]="true">
                                                        Completed
                                                    </mat-radio-button>
                                                </div>
                                            </mat-radio-group>
                                        </div>

                                        <br>

                                        <!-- 
                    <div *ngIf="projectInformation.isPhaseCompleted">
                      <h5>Other information:</h5> -->

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Prepared By</mat-label>
                                                    <input matInput type="text" name="projectInformation.other_info_prepared_by" [(ngModel)]="projectInformation.other_info_prepared_by" id="projectInformation.other_info_prepared_by" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Recommended By</mat-label>
                                                    <input matInput type="text" name="projectInformation.other_info_recommended_by" [(ngModel)]="projectInformation.other_info_recommended_by" id="projectInformation.other_info_recommended_by" required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Approved By</mat-label>
                                                    <input matInput type="text" name="projectInformation.other_info_approved_by" [(ngModel)]="projectInformation.other_info_approved_by" id="projectInformation.other_info_approved_by" required>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Approved Date</mat-label>
                                                    <input matInput [(ngModel)]="approvedDate" name="approvedDate" [max]="today_date" [matDatepicker]="picker" autocomplete="Off" required readonly required>
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                    <mat-error>Approve Date is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Start Date</mat-label>
                                                    <input matInput [(ngModel)]="start_date" name="start_date" [matDatepicker]="picker1" autocomplete="Off" readonly required>
                                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker1></mat-datepicker>
                                                    <mat-error>Start Date is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6" *ngIf="projectInformation.isPhaseCompleted">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>End Date</mat-label>
                                                    <input matInput [min]="start_date" [(ngModel)]="end_date" name="end_date" [matDatepicker]="picker2" autocomplete="Off" readonly [disabled]="start_date == null" [required]="projectInformation.isPhaseCompleted">
                                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker2></mat-datepicker>
                                                    <mat-error>End Date is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>



                                        <!-- <div class="form-group row">

                      </div> -->





                                        <div class="example-button-row">

                                            <div class="col-md-6">
                                                <div *ngIf="projectInformation.id > 0 ; else SaveNewData">
                                                    <div *ngIf="ShowUpdateBtn">
                                                        <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!updateProjectInfoForm.form.valid || saving">
                              Update
                            </button>
                                                    </div>
                                                </div>
                                                <ng-template #SaveNewData>
                                                    <div *ngIf="ShowSaveBtn">
                                                        <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!updateProjectInfoForm.form.valid || saving">
                              {{ "Save" | localize }}
                            </button>
                                                    </div>
                                                </ng-template>
                                            </div>



                                        </div>
                                        <br>
                                        <br>
                                        <hr>

                                        <div *ngIf="ShowUpdateBtn || ShowSaveBtn" class="row">
                                            <button mat-raised-button type="button" flex="15" color="primary" (click)="UploadProjectInfoDocument()" style="margin-left: 1em;"> Upload File
                      </button>
                                        </div>
                                        <br>

                                        <div class="row card" id="DocumentListDiv" *ngIf="DocumentsList.length > 0" style="margin: 1em;">
                                            <div class="header" style="padding: 1em; ">
                                                <h2>List Of Documents Uploaded</h2>
                                                <ul class="header-dropdown m-r--5">
                                                    <li>
                                                        <button mat-icon-button type="button" [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                                                        <mat-menu #headerMenu="matMenu">
                                                            <button mat-menu-item type="button" (click)="refresh()">
                                <mat-icon>refresh</mat-icon>
                                <span>{{ "Refresh" | localize }}</span>
                              </button>
                                                        </mat-menu>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="body table-responsive" style="padding: 1em;">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>S.N</th>
                                                            <th>Name</th>
                                                            <th>Upload Date</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let docs of DocumentsList; let i = index">
                                                            <td>{{ i + 1 }}</td>
                                                            <td>{{ docs.displayName }}</td>
                                                            <td>
                                                                {{ docs.creationTime | date }}
                                                                <!-- <a class="btn btn-primary" href="{{baseURL}}/home/download?link={{baseURL}}{{docs.document}}"
                                      target="_blank">
                                      
                                    </a> -->
                                                            </td>
                                                            <td>
                                                                <!-- <a href="{{baseUrl}}/home/download?link=wwwroot{{docs.document}}"
                                  target="_blank"><button type="button" class="btn btn-primary">Download</button></a>  for server-->
                                                                <a href="{{baseUrl}}/home/download?link=wwwroot{{docs.document}}" target="_blank"><button type="button" class="btn btn-primary">Download</button></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                        </div>

                                    </form>
                                </div>


                            </div>
                        </div>

                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>