<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div style="display: block" class="col-md-4 chart">
                <mat-card>

                    <mat-card>
                        <canvas baseChart [datasets]="IrrigatedLandDetailChartData" [labels]="IrrigatedLandDetailChartDataLabels" [options]="IrrigatedLandDetailChartOptions" [legend]="false" [chartType]="'bar'" [plugins]="pieChartPlugins">
            </canvas>
                    </mat-card>

                </mat-card>
            </div>
            <div style="display: block" class="col-md-4 chart">
                <mat-card>

                    <mat-card>
                        <div class="chart">
                            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
              </canvas>
                        </div>
                    </mat-card>
                </mat-card>
            </div>
            <div style="display: block" class="col-md-4 chart">
                <mat-card>

                    <mat-card>
                        <canvas baseChart [datasets]="AgricultureIrrigationIrrigatedChartData" [labels]="AgricultureIrrigationIrrigatedChartDataLabels" [options]="AgricultureIrrigationIrrigatedChartOptions" [legend]="false" [chartType]="'bar'" [plugins]="pieChartPlugins">
            </canvas>
                    </mat-card>
                </mat-card>
            </div>
        </div>
        <br>
        <div class="row" chart>
            <span>Data Entered in GMIS:</span>
            <div class="row">
                <div class="col-md-6">
                    <mat-card>
                        <mat-card>
                            <canvas baseChart [datasets]="NoOfDetailChartData" [labels]="NoOfDetailChartDataLabels" [options]="NoOfProjectsChartOptions" [legend]="false" [chartType]="'bar'" [plugins]="pieChartPlugins">
              </canvas>
                        </mat-card>
                    </mat-card>
                </div>
                <div class="col-md-6">
                    <mat-card>
                        <mat-card>
                            <canvas baseChart [datasets]="GCAChartData" [labels]="GCAChartDataLabels" [options]="GCAChartOptions" [legend]="false" [chartType]="'bar'" [plugins]="pieChartPlugins">
              </canvas>
                        </mat-card>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>