<form autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="save()" id="DataFormDiv">
  <h1 mat-dialog-title> Embankment</h1>
  <!-- <h2>{{projectName}}</h2> -->

  <div mat-dialog-content>
    <div class="row-fluid">

      <div class="row col-md-12">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Embankment No</mat-label>
            <input matInput placeholder="Embankment No" [(ngModel)]="Dto_Embankment.no" required min="0" name="nos"
              type="number">
            <mat-hint align="end"></mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>location (Chainage)</mat-label>
            <input matInput placeholder="location" [(ngModel)]="Dto_Embankment.locationChainage" required min="0"
              name="locationChainage" type="number">
            <mat-hint align="end">km</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Length</mat-label>
            <input matInput placeholder="Length" type="number" [(ngModel)]="Dto_Embankment.length" required min="0"
              name="length">
            <mat-hint align="end">m</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>HFL</mat-label>
            <input matInput placeholder="HFL" type="number" [(ngModel)]="Dto_Embankment.hfl" required min="0"
              name="hfl">
            <mat-hint align="end">m</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>LWL</mat-label>
            <input matInput placeholder="LWL" type="number" [(ngModel)]="Dto_Embankment.lwl" required min="0"
              name="lwl">
            <mat-hint align="end">m</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <h4>Material</h4>
      <div class="row col-md-12">
        <mat-radio-group [(ngModel)]="Dto_Embankment.materails" required name="materails">
          <div class="col-md-2">
            <mat-radio-button value="Earthen">Earthen</mat-radio-button>
          </div>
          <div class="col-md-2">
            <mat-radio-button value="Rockfill">Rockfill</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
      <br>
      <br>

      <h4>Design Parameters</h4>
      <div class="row col-md-12">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Height above GL</mat-label>
            <input matInput placeholder="Freeboard" type="number" [(ngModel)]="Dto_Embankment.designHeight" required
              min="0" name="designHeight">
            <mat-hint align="end">m</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Top Width</mat-label>
            <input matInput placeholder="Top Width" [(ngModel)]="Dto_Embankment.designTopWidth" required min="0"
              name="designTopWidth" type="number">
            <mat-hint align="end">m</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Freeboard</mat-label>
            <input matInput placeholder="Freeboard" type="number" [(ngModel)]="Dto_Embankment.designFreeBoard" required
              min="0" name="designFreeBoard">
            <mat-hint align="end">m</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Side Slope 1:</mat-label>
            <input matInput placeholder="Side Slope 1:" type="string" [(ngModel)]="Dto_Embankment.designSlideSlope"
              required min="0" name="designSlideSlope">
            <mat-hint align="end">V:H</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Length of Launching Apron</mat-label>
            <input matInput placeholder="Length of Launching Apron" type="number"
              [(ngModel)]="Dto_Embankment.designLengthOfLaunchingApron" required min="0"
              name="designLengthOfLaunchingApron">
            <mat-hint align="end">mm</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Thickness of Pitching</mat-label>
            <input matInput placeholder="Thickness of Pitching" type="number"
              [(ngModel)]="Dto_Embankment.designThicknessOfPitching" required min="0" name="designThicknessOfPitching">
            <mat-hint align="end">mm</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Thickness of Filter</mat-label>
            <input matInput placeholder="Thickness of Filter" type="number"
              [(ngModel)]="Dto_Embankment.designThicknessOfFilter" required min="0" name="designThicknessOfFilter">
            <mat-hint align="end">mm</mat-hint>

          </mat-form-field>
        </div>
      </div>

    </div>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="onNoClick()">
      {{ "Cancel" | localize }}
    </button>
    <div *ngIf="Dto_Embankment.id > 0 ; else SaveNewData">
      <div *ngIf="showUpdateBtn">
        <button mat-flat-button type="submit" flex="15" color="primary"
          [disabled]="!createRoleForm.form.valid || saving">
          Update
        </button></div>
    </div>
    <ng-template #SaveNewData>
      <div *ngIf="showSaveBtn">
        <button mat-flat-button type="submit" flex="15" color="primary"
          [disabled]="!createRoleForm.form.valid || saving">
          {{ "Save" | localize }}
        </button></div>
    </ng-template>
  </div>
</form>